<div class="container">
    <div class="row">
        <div class="col-12 col-sm-4" *ngFor="let b of blogs;let i=index">
            <mat-card class="example-card">
                <mat-card-header>
                </mat-card-header>
                <img mat-card-image src="{{b.imagelink}}" alt="blog">
                <mat-card-content>
                    <p>
                        {{b.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <!-- <button mat-button>LIKE</button>
                    <button mat-button>COMMENT</button> -->
                    <a routerLink = "/landing/singlepost/{{i}}" mat-button>View Post</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>