<mat-card class="rounded-0 shadow p-5">
    <mat-card-title>Change Password</mat-card-title>
<mat-card-content>
<form>
  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Enter new password" #password>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Confirm Password" #cnfpassword>
    </mat-form-field>
  </p>
  <div class="button">
    <button type="button" (click)="changepassword()" mat-raised-button color="warn" class="w-100">Submit</button>
  </div>
</form>
</mat-card-content>
</mat-card>
